<!DOCTYPE html>
<html lang="cs">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Tomáš Král</title>
    <link rel="stylesheet" href="{% static 'profil/styles.css' %}">
</head>
<body>
    <!-- Fixní horní navigační lišta -->
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#about">About me</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>

    <section>
        <h1>Contact Information</h1>
        <ul class="contact-icons">
            <li>
                <!-- Ikona pro email -->
                <a href="mailto:kraltomas93@seznam.cz">
                    <img src="{% static 'profil/icons/email.svg' %}" alt="Email Icon" />
                </a>
                <span>kraltomas93@seznam.cz</span>
            </li>
            <li>
                <!-- Ikona pro telefon -->
                <a href="tel:+420731311943">
                    <img src="{% static 'profil/icons/phone.svg' %}" alt="Phone Icon" />
                </a>
                <span>+420 731 311 943</span>
            </li>
            <li>
                <!-- Ikona pro GitHub -->
                <a href="https://github.com/kraltom93" target="_blank">
                    <img src="{% static 'profil/icons/github.svg' %}" alt="GitHub Icon" />
                </a>
            </li>
            <li>
                <!-- Ikona pro LinkedIn -->
                <a href="https://www.linkedin.com/in/tom%C3%A1%C5%A1-kr%C3%A1l-a29451b4/" target="_blank">
                    <img src="{% static 'profil/icons/linkedin.svg' %}" alt="LinkedIn Icon" />
                </a>
            </li>
            <li>
                <!-- Ikona pro Facebook -->
                <a href="https://www.facebook.com/tomas.kral.397/" target="_blank">
                    <img src="{% static 'profil/icons/fb.png' %}" alt="Facebook Icon" />
                </a>
            </li>
            <li>
                <!-- Ikona pro Instagram -->
                <a href="https://www.instagram.com/tomkral93/" target="_blank">
                    <img src="{% static 'profil/icons/instagram.jpg' %}" alt="Instagram Icon" />
                </a>
            </li>
        </ul>
    </section>
</body>
</html>
