<!DOCTYPE html>
<html lang="cs">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomas Kral</title>
    <link rel="stylesheet" href="{% static 'profil/styles.css' %}">
</head>
<body style="background-image: url('{% static 'profil/background.jpg' %}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <!-- Sekce pro jméno a fotku -->
    <header>
        <div class="centered-content">
            <h1 class="name">Tomáš Král</h1> <!-- Jméno vycentrováno a zvětšeno -->
            <div class="photo">
                <img src="{% static 'profil/profil.jpg' %}" alt="Tomáš Král" />
            </div>
        </div>
    </header>

    <!-- Sekce About me -->
    <section class="about-me">
        <h2>About me</h2>
        <p>
            S pětiletou zkušeností jako vedoucí výroby v oblasti termokamer a termovizních systémů jsem vybaven pečlivostí,
            organizačními schopnostmi a dovednostmi vedení týmu, které mi umožňují úspěšně řídit pracovní procesy.
            Své schopnosti v oblasti time managementu uplatňuji k efektivnímu plánování a optimalizaci výrobních operací.
            Své úsilí soustřeďuji na dosažení cílů společnosti a jsem motivován neustálým osobním rozvojem. Mým zájmem je
            kreativní a pozitivní přemýšlení, které mi pomáhá neustále se zdokonalovat jak v profesionálním, tak i osobním životě.
        </p>
    </section>

    <!-- Vertikální ikony kontaktů v pravé liště -->
    <aside class="vertical-navbar">
        <ul>
            <li>
                <a href="mailto:kraltomas93@seznam.cz">
                    <img src="{% static 'profil/icons/email.png' %}" width="30px" height="30px" />
                </a>
            </li>
            <li>
                <a href="tel:+420731311943">
                    <img src="{% static 'profil/icons/phone.png' %}" width="30px" height="30px" />
                </a>
            </li>
            <li>
                <a href="https://github.com/kraltom93" target="_blank">
                    <img src="{% static 'profil/icons/git.png' %}" width="30px" height="30px" />
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/tom%C3%A1%C5%A1-kr%C3%A1l-a29451b4/" target="_blank">
                    <img src="{% static 'profil/icons/linkedin.png' %}" width="30px" height="30px" />
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/tomas.kral.397/" target="_blank">
                    <img src="{% static 'profil/icons/fb.png' %}" width="30px" height="30px" />
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/tomkral93/" target="_blank">
                    <img src="{% static 'profil/icons/instagram.png' %}" width="30px" height="30px" />
                </a>
            </li>
        </ul>
    </aside>
</body>
</html>
