<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Životopis - Tomáš Král</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'profil/styles.css' %}">
</head>
<body>
    <header>
        <h1>Tomáš Král</h1>
        <p><a href="mailto:kraltomas93@seznam.cz">kraltomas93@seznam.cz</a></p>
    </header>

    <section>
        <h2>O mně</h2>
        <p>Jsem Vedoucí výroby ve společnosti Workswell.</p>
    </section>

    <section>
        <h2>Pracovní zkušenosti</h2>
        <ul>
            <li>Společnost ABC - Vývojář (2019 - 2023)</li>
            <li>Společnost XYZ - Junior Developer (2016 - 2019)</li>
        </ul>
    </section>

    <section>
        <h2>Projekty</h2>
        <ul>
            <li><a href="https://github.com/tomas-kral/projekt1">Projekt 1</a></li>
            <li><a href="https://github.com/tomas-kral/projekt2">Projekt 2</a></li>
        </ul>
    </section>

    <section>
        <h2>Vzdělání</h2>
        <ul>
            <li>Informační technologie - Aplikace osobních počítačů (2008 - 2012)</li>
        </ul>
    </section>

    <footer>
        <p>Sledujte mě na <a href="https://www.linkedin.com/in/tom%C3%A1%C5%A1-kr%C3%A1l-a29451b4/">LinkedIn</a> nebo <a href="https://github.com/tomas-kral">GitHub</a>.</p>
    </footer>
</body>
</html>
