/* Styl pro horní navigační lištu */
nav ul {
    display: flex;
    justify-content: center; /* Odkazy budou zarovnané doprostřed */
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333; /* Barva pozadí navbaru */
}

nav ul li {
    margin: 0 20px; /* Mezery mezi odkazy */
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 14px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #555; /* Změna barvy při přejetí myší */
    border-radius: 4px;
}
